.container{
    background-color: #f2f2f2;
    border: none;
    width:75%;
    margin: auto;
    border-radius: 7px; 
}

h1{
    background-color:#97BC62;    color: whitesmoke;
    text-align: center;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
*{
    box-sizing: border-box; 
    }
input[type="text"],
input[type="email"],
select,
p,
textarea{
    width:94%;
    padding: 12px;
    margin-left:3%;
    margin-right: 3%;
    border-radius: 5px;
    border: none;

}
p{
    font-size: large;
}
button{
    width:20%;
    padding: 10px;
    margin-left:3%;
    margin-top: 5%;
    border-radius: 5px;
    background-color: #97BC62;
    border: none;
    color: whitesmoke;
    font-size: large;
    cursor: pointer;

}
button:hover
{
    background-color: #4caf84;
}