
.box1bBox2{
    height:100px;
    width:100px;
}
.box1{
    margin:30px;
    background-color: aquamarine;
}
.box2{
    padding: 30px;
    background-color: blueviolet;
}
.wrapper{
    background-color: brown;
}