p,a
{
    color: green;
}

.special
{
    color: orange;
    font-weight: bold;
}

span.special,li.special
{
color: blue;
font-weight: bold;
}

li{
    color: pink;
}

a:hover{
    color: saddlebrown;
    text-decoration: none;
}
.background{
    background-image: url("sample\ img.jpg");
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: left;
    background-attachment: fixed;
   height: 1000px;
   width: 2000px;
}