/*HEADER CSS*/
.search-bar{
  flex: 1;
  height: 36.5px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 2px;
  width: 0;
  box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05);
}
.search-bar::placeholder{
    font-family: Robot, Arial;
    font-size: 16px;
}

.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px ;
    border-bottom-style: solid;
    border-bottom-color: rgb(229, 228, 228);
    z-index: 100;
 }
.left-section{
    display: flex;
    align-items: center;
}
.middle-section{
    display: flex;
    flex:1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    align-items: center;
}
.right-section{
    display: flex;
    width: 180px;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;

    
}
.hambuger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
    

}
.youtube-logo{
    height: 20px;
    cursor: pointer;
}
.search-button{
    height: 40px;
    width: 66px;
    background-color: #f7f7f7;
    border: 1px solid #cccccc;
    margin-left: -1px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}
.search-button .tooltip,
.voice-button .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity;

}
.search-button:hover .tooltip,
.voice-button:hover .tooltip {
    opacity: 1;
}
.voice-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;

    cursor: pointer;
}
.search-icon{
    height: 25px;
    margin-top: 4px;
    cursor: pointer;

}
.voice-icon{
    height: 24px;
    margin-top: 4px;
    cursor: pointer;

}
.upload-icon{
    height: 24px;
    cursor: pointer;
}
.youtube-app{
    height: 24px;
    cursor: pointer;
}
.notification-icon{
    height: 24px;
    cursor: pointer;
}
.notification-icon-container{
    position: relative;
}
.notification-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(169, 8, 8);
    color: white;
    font-family: Roboto, Arial;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 10px;
    cursor: pointer;
}
.user-picture{
    height: 32px;
    border-radius: 16px;
    cursor: pointer;
}
.sidebar{
    position: fixed;
    left: 0;
    bottom:0;
    top:55px;
    background-color: white;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}
.sidebar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(221, 218, 218);
}
.sidebar-link img{
    height: 24px;
    margin-bottom: 4px;
}
.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
}


/*GENERAL CSS*/
p{
font-family: Roboto, Arial;
margin-top: 0;
margin-bottom: 0;
}

body{
    margin: 0;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: rgb(248, 248, 248);
}


/*VIDEO CSS*/
.thumbnail{
    width: 100%;
    cursor: pointer;
}

.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
    cursor: pointer;

}

.video-author,
.video-stats{
    font-size: 12px;
    color: #606060;
    cursor: pointer;
}
.vide-author{
    margin-bottom: 4px;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
    cursor: pointer;
}

.channel-picture{
    width:50px;
    vertical-align: top;
    cursor: pointer;
}
.video-info{
    width: 200px;
}
.profile-picture{
    width: 36px;
    border-radius: 50px;
    cursor: pointer;
    
}
.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}
.video-time{
    color: white;
    background-color: black;
    position: absolute;
    bottom: 8px;
    right: 5px;
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 500;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;



}