body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 600px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

#note-form {
  margin-bottom: 20px;
}

#note-form input,
#note-form textarea {
  padding: 10px;
  width: 577px;
  margin: 10px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


#note-form button {
  width: 100%;
  padding: 10px;
  background: rgba(29, 27, 27, 0.896);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#note-form button:hover {
  background: #23201f;
}

.note {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  background: #f9f9f9;
}

.note h2 {
  margin: 0 0 10px;
}

.note p {
  margin: 0 0 10px;
}

.note button {
  background: rgba(29, 27, 27, 0.896);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.note button:hover {
  background: #23201f;
}

#noteheader{
  display: flex;
  align-items: center;
  justify-content: center;
}

