.thumbnail{
    width: 300px;
    display: block;

}
.search-bar{
   display:block
}

.video-title{
    width: 300px;
}

.video-author,
.video-stats{

}
.video-preview{
    width: 300px;
    display: inline-block;
}