/*HEADER CSS*/
.search-bar{
  flex: 1;
  height: 36.5px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 2px;
  width: 0;
  box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05);
}
.search-bar::placeholder{
    font-family: Robot, Arial;
    font-size: 16px;
}

.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom-width: 1px ;
    border-bottom-style: solid;
    border-bottom-color: rgb(229, 228, 228);
 }
.left-section{
    display: flex;
    align-items: center;
}
.middle-section{
    display: flex;
    flex:1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    align-items: center;
}
.right-section{
    display: flex;
    width: 180px;
    margin-right: 20px;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;

    
}
.hambuger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    

}
.youtube-logo{
    height: 20px;
}
.search-button{
    height: 40px;
    width: 66px;
    background-color: #f7f7f7;
    border: 1px solid #cccccc;
    margin-left: -1px;
    margin-right: 10px;
}
.voice-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(248, 245, 245);
}
.search-icon{
    height: 25px;
    margin-top: 4px;

}
.voice-icon{
    height: 24px;
    margin-top: 4px;

}
.upload-icon{
    height: 24px;
}
.youtube-app{
    height: 24px;
}
.notification-icon{
    height: 24px;
}
.user-picture{
    height: 32px;
    border-radius: 16px;
}
.sidebar{
    position: fixed;
    left: 0;
    bottom:0;
    top:55px;
    background-color: black;
    width: 72px;
}

/*GENERAL CSS*/
p{
font-family: Roboto, Arial;
margin-top: 0;
margin-bottom: 0;
}

body{
    margin: 0;
    padding-top: 80px;
    padding-left: 80px;
}


/*VIDEO CSS*/
.thumbnail{
    width: 100%;
}

.video-title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;

}

.video-author,
.video-stats{
    font-size: 12px;
    color: #606060;
}
.vide-author{
    margin-bottom: 4px;
}

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-picture{
    width:50px;
    vertical-align: top;
}
.video-info{
    width: 200px;
}
.profile-picture{
    width: 40px;
    border-radius: 50px;
    
}
.thumbnail-row{
    margin-bottom: 12px;
}